<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1222</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/nav.css">

</head>

<body>
    <div class="channel">
        <table class="ui unstackable table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th class="right aligned">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td class="right aligned">None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td class="right aligned">Requires call</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Denied</td>
                    <td class="right aligned">None</td>
                </tr>
            </tbody>
        </table>
        <table class="ui tablet stackable table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th class="right aligned">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td class="right aligned">None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td class="right aligned">Requires call</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Denied</td>
                    <td class="right aligned">None</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="menu_container">
        <input type="checkbox" name="open" id="open">
        <label for="open" class="bt">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="menu">
            <li style="--i:1">
                <a href="#">
                    Home
                </a>
            </li>
            <li style="--i:2">
                <a href="#">
                    About
                </a>
            </li>
            <li style="--i:3">
                <a href="#">
                    Info
                </a>
            </li>
            <li style="--i:4">
                <a href="#">
                    Contact
                </a>
            </li>
            <li style="--i:5">
                <a href="#">
                    Show me more
                </a>
            </li>
        </ul>
    </div>


</body>

</html>